

/* kates */

/* ALL */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
.hidden {
    display: none;
}
header {
    margin-left: 15px;
    margin-top: -10px;
}
/*big header font at top*/
h1 {
    font-size: 34px;
    font-weight: 100;
}
/* body title */
h2{}
/*subsection titles*/
h3{
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}
#aboutMyMaker{
  font-size: 20px;
  font-weight: 500;
  margin-left: -20px;
  margin-top: 35px;
}
/*summary font at top*/
h5 {
    font-size: 16px;
    margin-top: -20px;
    font-weight: 100;
}






header {
    margin-left: 15px;
    margin-top: -10px;
}
h1 {
    font-size: 38px;
    font-weight: 100;
}
h2 {
    font-size: 24px;
    font-weight: 100;
}
h3 {
    font-size: 16px;
    margin-top: -20px;
    font-weight: 300;
}
h4{
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
h5 {
    font-size: 20px;
    margin-top: -20px;
    font-weight: 100;
}
h6 {
    font-size: 14px;
    margin-top: -20px;
    font-weight: 100;
}



header {
    margin-top: -10px;
    z-index: 100;
    left: 0;
    width: 100%;
    border-bottom:1px solid white;
    background-color: black;
}
h1 {
    display: inline-block;
    font-size: 25px;
    font-weight: 100;
    margin-top: 25px;
}
h2 {
    font-size: 24px;
    font-weight: 100;
}
h3 {
    font-size: 16px;
    margin-top: -20px;
    font-weight: 300;
}
h4{
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
h5 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 13px;
    line-height: 19px;
}
h6 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 10.5px;
    font-weight: 400;
    line-height: 14px;
    color: #F2F2F2;
}
.caret_expanded{
    -ms-transform: scale(1.2,1.2) translate(0px, -5px) rotate(45deg); /* IE 9 */
    -webkit-transform: scale(1.2,1.2) translate(0px, -5px) rotate(45deg); /* Safari */
    transform: scale(1.2,1.2) translate(0px, -5px) rotate(45deg);
    margin-left: 25px;
    margin-right: 12px;
}
.caret_closed{
    -ms-transform: scale(1.2,1.2) translate(0px, -3px) rotate(-45deg); /* IE 9 */
    -webkit-transform: scale(1.2,1.2) translate(0px, -3px) rotate(-45deg); /* Safari */
    transform: scale(1.2,1.2) translate(0px, -3px) rotate(-45deg);
    margin-left: 20px;
    margin-right: 17px;
}
i{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    cursor:pointer;
}
.pageDescription{
    margin-left: 25px;
    background-color: black;
}
.pageDescriptionColumn{
    margin-left: 30px;
    width: 225px;
    float: left;
}
.end{
      clear: both;
}


/* DROP DOWN MENU */
.hamburger{
    position:absolute;
    background-color: black;
    width: 60px;
    height: 60px;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:white;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
    margin-right: 30px;
}
.cross{
    position:absolute;
    width: 60px;
    height: 60px;
    top:0px;
    right:0;
    padding:14px 15px 0px 15px;
    color:black;
    background-color: white;
    border:0;
    font-size:3.5em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
    margin-right: 30px;
}
.menu{
    z-index:1000000000000000000000;
    background-color: white;
    width:180px;
    text-align:center;
    font-size:12px;
    position: absolute;
    right: 30px;
    top: 60px;
    clear: both;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
.menu li {
    display: block;
    height: 30px;
    border-bottom:black 1px solid;
    font-weight: 800;
}
.menu li:hover{
    display: block;
    background-color: #E2E2E2;
}
.menu a{
    line-height: 28px;
    text-decoration: none;
    color:black;
}




/* TEXT */
.descriptions {
    margin-left: 15px;
}
.artist.date {
    font-weight: 800;
}
.title {
    font-weight: 100;
    font-size: 25px;
}
.labels{
    font-size: 11px;
    text-transform: uppercase;
}

.line{
    width:70%;
    margin-left: 10px;
    background-color: pink;
    border-bottom: .2px solid white;
}

/* LEARN MORE POPUPS */
/* Popup container */
.popup {
    background-color: black;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
}
/* The actual popup (appears on top) */
.popup .popuptext {
    width: 500px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;  
}

.helpButtons{
    float: right;
    margin-top: 0px;
    margin-right: 30px;
    position: relative;text-decoration: none;
}
.popupClose{
    text-align: center;
}









::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

/* pierres */

.facesBody {
  height: 100%;
  width: 100%;
  margin: 0;
}

#profile {
  height: 40%;
  width: 100%;
  position: relative;
}

#profileInfo {
  width: 30%;
  height: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#profilePictureOverlay {
  width: 60%;
  height: 80%;
  position: absolute;
  z-index: 10;
}
#profileInfo{
  height: 200px;
  margin-left: 40px;
  line-height: 40px;
  font-size: 22px;
  font-weight: 100;
}

#profilePicSvg {
  width: 300px;
  height: 300px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.clip-circle {
  clip-path: circle(150px at center);
}

.tabs {
  height: 50%;
  width: 100%;
}

.tabDiv {
  float: left;
  width: 33%;
  height: 100%;
}

#friends {
}
#maker {
}
#home {
}

.tabTitle {
  width: 100%;
  height: 10%;
}

.tabContent {
  width: 100%;
  height: 90%;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 800;
  padding-left: 40px;
}
.tabContent span {
  font-size: 18px;
  font-weight: 100;
  margin-left: 10px;
  line-height: 30px;
}
#paintingTitle{
  font-size: 18px;
  font-weight: 100;
}
#distantRelationsSvgs{
  margin-right: 50px;
  margin-top: 0px;
}

#makerTitle {
}
#makerContent {
}
#friendsTitle {
}
#friendsContent {
  overflow-y:scroll;
}
#homeTitle {
}
#homeContent {
}

#closeFriendsDiv {
  width: 100%;
  height: auto;
}

#paintingPic {
  height: 70%;
  margin-right: 20px;
  margin-top: 20px;
}

#paintingTitle {
  width: 100%;
  height: 30%;
}

.brightness {
    background-color: white;
    display: inline-block;

}
.brightness image:hover {
    opacity: .5;
}
