
.view {
    width: 650px;
    padding: 0.5em;
    float: left;
}

.paintingImage {
  width: 500px;
}

.myTitle {
  margin-bottom: 10px;
}

.small-padding .col-md-1{
  padding-left: 3px;
  padding-right: 3px;
}

#myProgress {
    width: 100%;
    background-color: grey;
}
.myBar {
    width: 0%;
    height: 3px;
    background-color: green;
}
